<!DOCTYPE html>
<html>
<body>
<h1>About us</h1>
<ul>
<p id="paragraph1"> The three crazy members of the Artifactovol team are 
    <ul>
      <li><span style="color:blue;font-weight:bold"><a href="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/005/090/1a3/0faae57.jpg">cobuskok</a></span></li> 

<span style="color:blue;font-weight:bold">
    </ul> from South Africa
</p>
<p id="paragraph2"> a random guy from Italy 
    <ul>
      <li><span style="color:blue;font-weight:bold"><a href="https://pbs.twimg.com/profile_images/533689833244213248/c_ZDtbPQ.jpeg">giorgio1983</a></span></li> 

<span style="color:green;font-weight:bold">
    </ul> 
</p>
</p>
<p id="paragraph2"> an a brazilian guy 
    <ul>
      <li><span style="color:blue;font-weight:bold"><a href="https://media.licdn.com/mpr/mpr/shrink_500_500/p/3/005/088/230/2cfe4a1.jpg">codeblaster00966</a></span></li> 

<span style="color:brown;font-weight:bold">
    </ul> 
</p>

</ul>
</body>
</html>

 
