{% extends "layout.html" %}

{% block mainContent %}
<h1>About us</h1>
<ul>
<p> Welcome to the Artifactovol Team presentation. XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    <ul>
      <li><span id="bright bison-name" style="color:blue;font-weight:bold">Cobus Kok from South Africa </span> <img id='bright bison-headshot' src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/005/090/1a3/0faae57.jpg" height="100" width="100">
     </li> 
    </ul> 
</p>
<p>  
    <ul>
      <li><span id="ok alligator-name" style="color:green;font-weight:bold">Giorgio Mariano from Italy </span> <img id='ok alligator-headshot' src="https://pbs.twimg.com/profile_images/533689833244213248/c_ZDtbPQ.jpeg" height="100" width="100">
     </li> 
    </ul> 
</p>
<p>  
    <ul>
      <li><span id="ok butterfly-name" style="color:brown;font-weight:bold">Rodolpho Campos Silva do Nascimiento, called Pepito, from Brazil </span> <img id='ok butterfly-headshot' src="https://media.licdn.com/mpr/mpr/shrink_500_500/p/3/005/088/230/2cfe4a1.jpg" height="100" width="100">
     </li>
    </ul> 
</p>
<a href="/">return to home page</a>
{% endblock %}
