<!DOCTYPE html>
<html>
<body>
{% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul class='form-errors'>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
        </ul>
      </ul>
    </div>
  {% endif %}
<ul class='form-errors'>

</ul>
<h1 id='title'>{{event.title}}</h1> 
<p></p>
<img id='image' src='{{event.image}}'/>
<p></p>
<span id='date'>{{event.date}}</span>
<p></p>
<span id='location'>{{event.location}}</span>
<p></p>
<form action='/events/RSVP/{{event.id}}' method='post'>
<p></p>
</li>
<input type='email' id= 'email' name='email' placeholder='email address'/>
<button type='submit' id='submit' name='submit'>Submit</button>
</form>
<ul id='attendees'>
  {% for email in event.attending %}
    <li>
      {{email}}
    </li>
  {% endfor %}
      <p></p>
      <a href="/events/">return to events list</a>
</ul>
</body>
</html>

